body {
  color: #506784;
  background:
    linear-gradient(
      rgba(255, 255, 255,0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("https://github.com/plotly/dash-docs/raw/master/images/dash-pattern.png");
    /*url("lmt_img.jpg");*/
  margin: 0px;
}
.navbar-brand-left {
  margin-right: auto;
}
.custom-bold{
  font-weight: bold;
  font-size: large;
}

._dash-loading {
  text-align: center;
  margin-top: 50px;
}

.accordion-button {
    font-size: x-large;
    background-color: #D1D1D1;
}

.accordion-button:not(.collapsed) {
    background-color: cornflowerblue;
}

.link-button{
    border: none
}
/* Header */
.header {
  height: 60px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(100, 100, 100, 0.1);
  -moz-box-shadow:    0px 5px 5px 0px rgba(100, 100, 100, 0.1);
  box-shadow:         0px 5px 5px 0px rgba(100, 100, 100, 0.1);
  margin-bottom: 50px;
  background-color: white;
}

.header .links {
  display: inline-block;
  float: right;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: rgb(81, 104, 131);
  font-size: 16px;
  vertical-align: middle;
}

.header .links .link {
  margin-left: 20px;
  line-height: 60px;
  display: inline-block;
  color: #506784;
  cursor: pointer;
  background-color: white;
  text-decoration: none;
}

.header .links .link:hover {
  color: #0D67BF;
  text-decoration: none;
}

.header .links .link.active {
  border-bottom: #119DFF 2px solid;
  color: #2A3F5F;
  height: 59px;
}

.header .links .link:hover {
  border-bottom: #119DFF 2px solid;
  color: #2A3F5F;
  height: 59px;
}


.header .logo {
  height: 95%;
}

.header .logo-link {
  background-color: white;
}

/* Example Container */

.example-container {
  border: thin lightgrey solid;
  padding: 15px;
  overflow-x: scroll;
}

/* Fonts */
h1, h2, h3, h4, h5, h6 {
  font-family: Dosis, 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #2A3F5F;
}

.example-container h1,
.example-container h2,
.example-container h3,
.example-container h4,
.example-container h5,
.example-container h6 {
  font-weight: 300;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(50, 50, 50);
}

.gallery .image-link {
  background-color: white;
}

.gallery img {
  width: 100%;
  border: thin lightgrey solid;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.toc ul li a {
  background-color: white;
  color: #506784;
  font-family: Dosis, 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-decoration: none;
}

.toc ul li {
  font-size: 26px;
  color: #506784;
}

.toc ul ul li {
  font-size: 18px;
  color: #506784;
  display: none;
}

.toc ul ul ul li {
  font-size: 14px;
  color: #506784;
  font-weight: 200;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.content a {
  color: #506784;
  background-color: rgb(245, 245, 245);
  text-decoration: underline;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 1px;
}

.content a:hover {
  color: #0D67BF;
  text-decoration: underline;}

.content a > img:hover {
  border: thin #119DFF solid;
  cursor: pointer;
}


.content p > code,
.content li > code{
    background-color: rgb(243, 246, 251);
    border: 0.5px rgb(224, 232, 242) solid;
    border-radius: 4px;
    font-size: 1.8rem;
    padding-left: 3px;
    padding-right: 3px;
}

.toc li {
  list-style: none;
}

.content-container {
  background-color: white;
  border-radius: 5px;
  font-size: 1.7rem;
  box-shadow: rgb(240, 240, 240) 5px 5px 5px 0px;
  border: thin solid rgb(240, 240, 240);
  margin-bottom: 100px;
}

@media (min-width: 0px) {
  .content {
     margin-left: 20px;
     margin-right: 20px;
     margin-top: 20px;
     margin-bottom: 40px;
  }

  .container-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .toc-chapters {
    column-count: 1;
  }

  .header .links {
    display: none;
  }
}

._dash-undo-redo {
  display: none;
}

@media (min-width: 450px) {
  .header .links {
    display: block;
  }
}

@media (min-width: 750px) {
  .content {
     margin-left: 60px;
     margin-right: 60px;
     margin-top: 20px;
     margin-bottom: 40px;
  }

  .container-width {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .toc-chapters {
    column-count: 2;
  }
}

@media (min-width: 900px) {
   .container-width {
     width: 80%;
     max-width: 960px;
  }
}


.custom-tabs-container {
    width: 100%;
    height: 2%;
}
.custom-tabs {
    border-top-left-radius: 3px;
    #background-color: #f9f9f9;
    color: #0D67BF;
    background-color:beige;
    padding: 0px 15px;
    border-bottom: 1px solid #d6d6d6;
}

.custom-tab {
    color:#586069;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #fafbfc;
    padding: 10px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.custom-tab--selected {
    color: black;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #62bcbe !important;
}

.alert {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #eed3d7;
  background-color: #f9ebec;
  color: #c7254e;
  border-radius: 5px;
  font-size: 14px;
}

.alert-success {
  background-color: #dff0d8;
  color: #3c763d;
  border-color: #d6e9c6;
}

.alert-info {
  background-color: #d9edf7;
  color: #31708f;
  border-color: #bce8f1;
}

.alert-warning {
  width: 50%;
  background-color: #d9edf7;
  color: #555555;
  border-color: #faebcc;
}

.alert-danger {
  background-color: #f2dede;
  color: #a94442;
  border-color: #ebccd1;
}

.large-label{
    font-size: 18px;
    font-weight: bold;
    background-color: #bbbbbb;
}

.Select-menu-outer {
display : block !important;
}